body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div {
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 400px;
    height: 200px;
    background-color: skyblue;
    border-radius: 5px;
}

@keyframes leftScrollIn {
    from {
        transform: translate(-300%);
    }
    to {
        transform: translate(0);
    }
}

@keyframes rightScrollIn {
    from {
        transform: translate(300%);
    }
    to {
        transform: translate(0);
    }
}

/* @keyframes leftScrollOut {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(-300%);
    }
}

@keyframes rightScrollOut {
    from {
        transform: translate(0);
    }
    to {
        transform: translate(300%);
    }
} */