body {
    margin: 0;
}
.mask {
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1576161787924-01bb08dad4a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2104&q=80');
    transform: scale(105%, 105%);
    filter: blur(10px)
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color:#fff;
    background: transparent;
}