@font-face {
  font-family: "iconfont"; /* Project id 3643531 */
  src: url('//at.alicdn.com/t/c/font_3643531_pvzvp1hesnc.woff2?t=1664764185646') format('woff2'),
       url('//at.alicdn.com/t/c/font_3643531_pvzvp1hesnc.woff?t=1664764185646') format('woff'),
       url('//at.alicdn.com/t/c/font_3643531_pvzvp1hesnc.ttf?t=1664764185646') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Z-daojishi:before {
  content: "\e72c";
}

.icon-saoma:before {
  content: "\e619";
}

.icon-youjiantou:before {
  content: "\e658";
}

.icon-gengduo:before {
  content: "\e600";
}

.icon-cuowuguanbiquxiao-xianxingyuankuang:before {
  content: "\e8e7";
}

.icon-wujiaoxing:before {
  content: "\e614";
}
