* {
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-color: pink; */
}

.container {
    height: 200px;
    width: 400px;
    /* background-color: #fff; */
}

.top {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    /* background-color: skyblue; */
    height: 40px;
}

.circle {
    background-color: #fff;
    color: #999;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #ccc;
    transition: border-color 0.4s ease;
}

.active {
    border: 3px solid skyblue;
}

.lineBack {
    position: absolute;
    height: 2px;
    width: 100%;
    flex-grow: 1;
    background-color: #ccc;
    z-index: -1;
}

.line {
    position: absolute;
    height: 2px;
    width: 0%;
    flex-grow: 1;
    background-color: skyblue;
    z-index: -1;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    height: 60px;
    /* background-color: pink; */
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    color: #fff;
    background-color: skyblue;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
    background-color: #ccc;
}